button {
    display: inline-block;
    height: 2.5rem;
    width: 10rem;
    border-radius: 5px;
    background-color: var(--coral);
    border-color: var(--darkco);
    color: var(--darkgr);
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

.refresh {
    margin: 3rem;
}