button {
    display: block;
    margin: 20px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: blue;
    color: violet;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}