.columns {
    display: grid;
    grid-template-columns: 40% 20% 40%; 
    grid-template-rows: repeat(auto);
    text-align: center;
    margin-top: 2rem;
}

.column1 {
   margin-left: 47%;
}

.vs {
    font-size: 2.5rem;
    font-style: italic;
    padding-top: 1rem;
}

.column2 {
    margin-right: 47%;
}

.columns li {
    line-height: 3rem;
}