.columns {
    /* width: 50%; */
    display: grid;
    grid-template-columns: 40% 20% 40%; 
    grid-template-rows: repeat(auto);
    text-align: center;
}

.column1{
   margin-left: 45%;
}

.vs {
}

.column2 {
    margin-right: 45%;
}