label {
    display: block;
    margin-bottom: 0.6rem;
    margin-top: 1rem;
}

/* form {
    display: inline-block;
    
}  */

input {
    display: block;
    padding: 0.2rem;
    border-radius: 1px;
    width: 25%;
    font-size: 1.5rem;
} 