.form {
    display: block;
    text-align: center; 
    margin-top: 2rem;
} 

label {
    display: block;    
}

input {
    display: inline-block;
    border-radius: 5px;
    width: 20rem;
    font-size: 1.2rem;
    text-align: center;
    height: 2.2rem;
    margin-top: 2rem;
    margin-right: 1rem; 
    background-color: var(--lightbl);
    color: var(--darkgr);
} 

.add {
    margin-left: 1rem;
}