h1 {
    background-color: var(--coral);
    padding: 2rem;
    font-size: 4rem;
    color: var(--darkgr);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    text-align: center;
    border: var(--lightbl) 3px solid;
}