h1 {
    background-color: violet;
    padding: 2rem;
    font-size: 4rem;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    text-align: center;
    border: yellow 3px solid;
}