@media (max-width: 600px) {
    input {
        display: inline-block;
        width: 80%;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    button {
        display: inline-block;
    }

    .column1 {
        margin-left: 10%;
     }

     .column2 {
        margin-right: 10%;
    }

    .players li {
        display: block;
        padding: 0.4rem;
    }

    .players, .pairs {
        padding: 0.4rem;
    }

    .vs {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2.4rem;
    }
}