label, ul, p, input, h2, .error, footer {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--lightbl);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    font-style: italic;
    color: var(--coral);
    font-size: 1.6rem;
}